<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @impediment.title %>
</p>

<p>
  <b>Iteration:</b>
  <%= @impediment.iteration %>
</p>

<p>
  <b>State:</b>
  <%= @impediment.state %>
</p>

<p>
  <b>Description:</b>
  <%= @impediment.description %>
</p>

<p>
  <b>Reason:</b>
  <%= @impediment.reason %>
</p>

<p>
  <b>Datefound:</b>
  <%= @impediment.datefound %>
</p>

<p>
  <b>Effort:</b>
  <%= @impediment.effort %>
</p>

<p>
  <b>Priority:</b>
  <%= @impediment.priority %>
</p>

<p>
  <b>State:</b>
  <%= @impediment.state %>
</p>


<%= link_to 'Edit', edit_impediment_path(@impediment) %> |
<%= link_to 'Back', impediments_path %>
