<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :iteration %>
    <%= f.input :state %>
    <%= f.input :description %>
    <%= f.input :reason %>
    <%= f.input :area %>
    <%= f.input :priority %>
    <%= f.input :state %>
    <%= f.input :datefound %>
    <%= f.input :remainingwork %>
    <%= f.input :blocked %>
    <%= f.input :blockedreason %>
    <%= f.input :activitytype %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
